In [31]:
import pandas as pd

In [32]:
df=pd.read_csv("Reviews_climpio.csv")

Limpiar fechas dejar solo año, eliminar la review en si e intentar dejar recommended

In [33]:
df

,user_id,posted,item_id,recommend,review,0
0,76561197970982479,"Posted November 5, 2011.",1250.0,True,Simple yet with great replayability. In my opi...,NaN
1,76561197970982479,"Posted July 15, 2011.",22200.0,True,It's unique and worth a playthrough.,NaN
2,76561197970982479,"Posted April 21, 2011.",43110.0,True,Great atmosphere. The gunplay can be a bit chu...,NaN
3,js41637,"Posted June 24, 2014.",251610.0,True,I know what you think when you see this title ...,NaN
4,js41637,"Posted September 8, 2013.",227300.0,True,For a simple (it's actually not all that simpl...,NaN
...,...,...,...,...,...,...
59328,76561198312638244,Posted July 10.,70.0,True,a must have classic from steam definitely wort...,NaN
59329,76561198312638244,Posted July 8.,362890.0,True,this game is a perfect remake of the original ...,NaN
59330,LydiaMorley,Posted July 3.,273110.0,True,had so much fun plaing this and collecting res...,NaN
59331,LydiaMorley,Posted July 20.,730.0,True,:D,NaN
59332,LydiaMorley,Posted July 2.,440.0,True,so much fun :D,NaN

In [34]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [35]:
nltk.download('vader_lexicon')
analyzer = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Usuario\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [36]:
# Configura el analizador de sentimiento VADER
nltk.download('vader_lexicon')
analyzer = SentimentIntensityAnalyzer()

# Define una función para analizar el sentimiento
def analyze_sentiment(review):
    if pd.isna(review):
        return 1
    sentiment = analyzer.polarity_scores(review)
    if sentiment["compound"] >= 0.05:
        return 2
    elif sentiment["compound"] <= -0.05:
        return 0
    else:
        return 1

# Aplica la función a la columna "review" en tu DataFrame
df['sentiment_analysis'] = df['review'].apply(analyze_sentiment)

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Usuario\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [37]:
df = df.drop(columns=["0","review"])

In [39]:
df["posted"]=df["posted"].str.replace("Posted","")

In [40]:
df["posted"]=pd.to_datetime(df["posted"],errors="coerce").dt.year

In [41]:
df.dropna(subset=["posted"], inplace=True)

In [42]:
df['posted'] = df['posted'].astype(int).astype(str)

In [43]:
# Elimina el ".0" de los valores en la columna 'item_id'
df['item_id'] = df['item_id'].apply(lambda x: str(int(x)) if x == x else x)

In [44]:
df

                 user_id posted item_id recommend  sentiment_analysis
0      76561197970982479   2011    1250      True                   2
1      76561197970982479   2011   22200      True                   2
2      76561197970982479   2011   43110      True                   2
3                js41637   2014  251610      True                   2
4                js41637   2013  227300      True                   2
...                  ...    ...     ...       ...                 ...
59280            wayfeng   2015     730      True                   1
59283  76561198251004808   2015  253980      True                   2
59293        72947282842   2015     730      True                   0
59295          ApxLGhost   2015     730      True                   2
59304  76561198267374962   2015  369200      True                   2

[49186 rows x 5 columns]

In [45]:
# Guarda el DataFrame en un archivo CSV
df.to_csv('Reviews_Entero2.csv', index=False)